 <!-- ////partial templated created and imprted wherver we want, so that we need to change only here -->
 
 <nav>
        <div class="site-title">
            <a href="/"><h1>Blog</h1></a>
            <p>A sid's site</p>
        </div>

        <ul>
            <li><a href="/">blogs</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/blogs/create">New Blog</a></li>
        </ul>
    </nav>