<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
       <%- include('./partials/nav.ejs') %>


    <div class="about content">
        <h2>random talk about me -gonna place it here anyways</h2>
    </div>

    <%- include('./partials/footer.ejs') %>

</body>
</html>